html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/surfingwallpaper23.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.table {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}